<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/login.css">
    <link rel="icon" type="image/x-icon" href="../public/icons8-internet-48.png">
</head>

<body>
    <header class="d-flex align-items-center justify-content-between">

        <a href="/">
            <h1>JARVIS</h1>
        </a>
    </header>
    <div class="row">
        <div class="col-md-6 gx-0"><img class="img-fluid w-100" src="/public/login page.png" alt=""></div>
        <div class="col-md-6 gx-0 conteneur">
            <form action="/login" method="post">
                <h4>
                    <%= title %>
                </h4>
                <input type="email" name="email" id="email" placeholder="  Votre adresse email"><br><br>
                <input type="password" name="password" id="password" placeholder="  mot de passe"><br><br>
                <button type="submit" class="btn btn-primary">Se Connecter</button>
            </form>
        </div>
    </div>
    <footer></footer>
</body>

</html>