*,
a,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-size: small;
}

header {
    background: #292424;
}

a {
    color: #fff;
    text-decoration: none;
}

.login {
    width: 50px
}

h1 {
    margin-left: 20px;
}

h2 {
    padding-top: 15px;
}

.btn {
    color: #fff;
    border: 1px solid #fff;
}

.btn:hover {
    border: none;
    background: rgb(156, 9, 156);
}

.conteneur {
    height: 400px;
    background-color: rgb(206, 172, 172);
}

.background {
    background: url('./Google\ Home.png');
    background-size: cover;
    height: 625px;
}

footer {
    width: 100%;
    bottom: 0;
    padding: 10px;
    position: relative;
    background: #000000;
}